$mainColor: #207dff;
$secondColor: #fe5f55;
$pColor: rgba(0, 0, 0, 0.31);
$borderColor: #0000001f;

$verySmall: "(max-width: 575px)";
$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 991px)";
$minLarge: "(min-width: 1200px)";
$maxLarge: "(max-width: 1200px)";